


h1 {
  opacity: .25; 
}

.movie-card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
  border: 5px solid grey;
  margin-bottom: .5rem;
  padding: .5rem;
}

ul img {
  max-width: 100%;
  height: auto;
}

.form-group > label {
  display: block;

}