#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav > ul {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
}

.activeLink {
    color: orange;
}

h1:hover {
    cursor: default;
    animation: scaleAndColor 1s 1 linear forwards;
}

@keyframes scaleAndColor {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.5;
        color:rgb(39, 159, 181);
    }

}