#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


h1 {
  opacity: .25; 
}

ul > li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  gap: 1rem;
  border: 5px solid grey;
  margin-bottom: .5rem;
  padding: .5rem;
}

ul img {
  max-width: 100%;
  height: auto;
}